@import "mixins";
@import "variables";

.button {
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: rem(18);
  padding: rem(8 22);
  border-radius: rem(4);

  @include md {
    padding: rem(12 28);
    font-size: rem(20);
  }

  &.solid {
    background-color: colorToHex("primary-blue");
    color: colorToHex("primary-white");
  }

  &.transparent {
    border: rem(1) solid colorToHex("primary-blue");
    color: colorToHex("primary-blue");
    background-color: transparent;
  }


  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

}