html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  min-height: 100vh;
  padding-bottom: 100px;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

input,
select {
  border-radius: 0;
}

a {
  text-decoration: none;
}
